.classes-table {
    font-family: Verdana;
    padding: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    -webkit-user-select: none;
}
.classes-table td {
    width: 100px;
    height: 100px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
}

.m, .w, .z {
  text-decoration: underline;
}

.board td.right {
    transform: rotate(-90deg);
}
.board td.left {
    transform: rotate(90deg);
}
.board td.up {
    transform: rotate(180deg);
}

.logged-in {
	display: none;
}


