.classes-table {
    font-family: Verdana;
    padding: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    -webkit-user-select: none;
}
.classes-table td {
    width: 100px;
    height: 100px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
}

.m, .w, .z {
  text-decoration: underline;
}

.board td.right {
    transform: rotate(-90deg);
}
.board td.left {
    transform: rotate(90deg);
}
.board td.up {
    transform: rotate(180deg);
}

.logged-in {
	display: none;
}

.left-sidebar {
  width: 220px;
  float: left;
  background-color: #E0E0FF;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.login-area {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

#contractForm >table >tbody >tr >td:first-child >span >input {
  max-width: 4em;
}

#contractForm >table >tbody >tr >td:nth-child(4) >span >select {
  max-width: 7em;
}
