// Copyright 2016 Jackie Scholl

@import 'dashboard';

.contractForm {
  //max-width: 700px;
  //margin-left: 100px;
}

.search-result-box {
  //position: absolute;
  top: 29px;
  left: 0px;
  width: 250px;
  padding: 5px;
  //color: #FFF;
  //background: #353535;
  //opacity: 0.9;
  //filter: alpha(opacity=90);
  //font-family: Tahoma,Verdana,Arial;
  border: 1px solid;
  font-size: 13px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 99;
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  left: 75px;
  margin-top: -3px;
}

.result_box a {
    color: #EEE;
    display: inline-block;
    width: 100%;
    line-height: 16px;
    text-decoration: none;
}

.result_box .w {
    color: #FFF;
    font-weight: bold;
}

.result_box a:hover {
    background: #5d666f;
}

.result-box2 {
  //width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  //position: absolute;
  //top: 100%;
  //left: 0px;
  z-index: 100;
  //display: none;
}

.result-box2 .suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
